:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #FAFAFA;
  font-family: "Poppins";
  font-weight: 400;
  color: var(--grey-500)
}

h1 {
  font-size: 1.5rem;
  line-height: 140%;
  font-weight: 200;
  letter-spacing: .0156rem;
  margin-bottom: 1rem;
}

h1 span {
  display: block;
  font-weight: 600;
}

header p {
  font-size: .9375rem;
  line-height: 140%;
  letter-spacing: 0px;
}

main {
  padding: 3.5rem 1.875rem 2.875rem;
}

section {
  margin-top: 3.75rem;
}